/*body {*/
/*    font-family: "Inter", sans-serif;*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    color: #5d657b;*/
/*    overflow-x: hidden;*/
/*    background: #f1f5f9;*/
/*}*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul,
ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

a,
a:focus,
a:hover {
    text-decoration: none;
}

i,
span,
a {
    display: inline-block;
}