/* ========== main wrapper css start ========== */
.main-wrapper {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    margin-left: 250px;
    min-height: 100vh;
    padding-bottom: 85px;
    position: relative;
    background: #f1f5f9;
}

@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .main-wrapper {
        margin-left: 0;
    }
}

/* ========== main wrapper css end ========== */


/* ========== main wrapper & left sidebar toggle start ========== */
.main-wrapper.sidebar-collapse{
    margin-left: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
    .sidebar-collapse {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
/* ========== main wrapper & left sidebar toggle end ========== */



/* ========== custom-dropdown css start ========== */
.custom-dropdown-menu .dropdown-menu{
    width: 180px;
    border: 1px solid #efefef;
    padding: 10px 10px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    top: 0px ;
    right: 0;
    transform: translate3d(0px, 60px, 0px);
    position: absolute;
    border-radius: 10px;
}
.custom-dropdown-menu .dropdown-menu li a {
    font-size: 14px;
    font-weight: 500;
    display: flex ;
    align-items: center;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.7);
}
.custom-dropdown-menu .dropdown-menu li a i{
    margin-right: 15px;
    font-weight: 700;
}
.custom-dropdown-menu .dropdown-menu li a:hover {
    color: #2f80ed;
    border-color: rgba(47, 128, 237, 0.15);
    background: rgba(47, 128, 237, 0.1);
}

.custom-dropdown-menu {
    position: relative;
}
/* ========== custom-dropdown css end ========== */
